
.header {
    background-color: #170649; 
    color: white; 
    padding: 20px; 
    text-align: left; 
  }
  .lista {
    list-style: none; 
    padding: 0; 
  }
  .lista li {
    display: inline; 
    margin-right: 20px; 
  }
  .lista a {
    text-decoration: none; 
    color: white; 
  }
  .Formulario {
    margin-top: 20px; 
  }
  .Formulario input[type="email"],
  .Formulario input[type="genero"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; 
  }
  .Formulario button {
    background-color: #170649; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer;
    border: 2px solid #2d95b2; 
    padding: 10px;
  }
  article {
    margin-bottom: 20px; 
  }
  article h3 {
    font-size: 18px; 
  }
  article p {
    font-size: 14px; 
  }
  .footer {
    background-color: #170649; 
    color: white; 
    padding: 10px; 
    text-align: center; 
  }
  h1 {
    border: 2px solid #2d95b2; 
    font-family: 'Bebas Neue', 'sans-serif';
    padding-left: 1%;
    padding-right: 1%;
    background-color: #2d95b2;
    text-align: left;
    font-size: 14px;
    display: inline-block;
  }
 