* {box-sizing: border-box  
}
.header {
    background-color: #303030; 
    color: #fff; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}
.logo {
    max-width: 200px; 
    border-radius: 20px;
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}
.nav li {
    margin-right: 10px; 
    font-family: 'Times New Roman', Times, serif;
}
.inicio{
    flex-direction: column;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
.form {
    margin-top: 10px;
    margin-right: 5%;
}
#buscador {
    display: flex;
    align-items: center;
}
#busqueda {
    width: 200px; 
    padding: 5px;
    border: 1px solid #ccc; 
    border-radius: 5px;
}
#enviar {
    background-color: #333; 
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px; 
}

.footer {
    background-color: #303030; 
    padding:20px;
    text-align: center; 
}

.footer p {
    margin: 0; 
    font-size: 14px; 
    color: white;
}

.footer img {
    width: 300px;
    height: 100px; 
    margin-top: 10px; 
}


body {
    background-color:#333;
    font-family:'Bebas Neue', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style-type: none;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding-left: 2%;
    border: light;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: 20px;
}
h3 {
    font-size: 18px;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
h4 {
    font-size: 14px;
    color: #f3eeee;
    font-family: 'Times New Roman', Times, serif;
}
h5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
}
h6{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
}
main {
    display: flex;
    justify-content: center;
}
.muestra {
    display: inline-block; 
    margin: 10px; 
    text-align: center; 
  }
 
  .imgpopulares {
    max-width: 100%; 
    height: auto; 
    width: 300px;
    height: 400px;
    margin-top: 60px;
    margin-left: 15px;
    border-radius: 5px;
  }
  
  .titulos-pelis, .fechas {
    margin-top: 5px; 
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .muestra a {
    text-decoration: none;
  }
  .reco-pelis {
    display: inline-block; 
    margin: 10px; 
    text-align: center; 
  }
 
  .imgreco {
    max-width: 100%; 
    height: auto; 
    width: 400px;
    height: 400px;
    margin-top: 60px;
    margin-left: 15px;
    border-radius: 5px;
  }
  
  .reco-pelis a {
    text-decoration: none;
    color: inherit;
  }
.contenedor {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding:20px;
}
.item1 ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        color: white;
        font-family: 'Times New Roman', Times, serif;
}
.item1 li{
        margin: 0;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
}
.item1 .imagenes{
    margin: 30px;
    text-align: center;
    border-radius: 5px;
}
.item1 img{
    width: 200px;
    height: 280px;
}
.pelis{
    display: flex;
}
.series{
    display: flex;
}
.cajapelis{
    display: flex;
}
.cajaseries{
    display: flex;
}
.imagenpeli{
    width: 300px;
    height: 400px;
    margin-top: 60px;
    margin-left: 15px;
    border-radius: 5px;
}
.imagenserie{
    width: 300px;
    height: 400px;
    margin-top: 60px;
    margin-left: 15px;
    border-radius: 5px;
}
.info-peli{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.info-serie{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.boton-favoritos{
    background-color: white;
    margin-top: 0%;   
    margin-left: 4%;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
}
.genero{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    border: light;
    text-align: left;
    font-size: 35px;
    font-weight: bold;
    margin-top: 20px;
}
.generos{
    text-align: center;
    padding-bottom: 2%;
} 
.boton-favoritos{
    background-color: rgba(247, 246, 249, 0.542);
    margin-top: 0%;   
    margin-left: 4%;
    color: #11092eee;
    cursor: pointer;
    border-radius: 5px;
}



@media (max-width: 400px){
.form{
    padding-bottom: 5px;
}
.inicio{
    flex-direction: column;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 10px 0;
    text-align: center;
}
.logo{
    max-width: 100%;
    height: auto;
}
.home{
    margin: 0px;
    margin-right: 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
h2{
    font-size: 25px;
    margin: 10px 0;
    padding: 5px;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
.item1 ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item1 li{
    margin: 10px;
}
.item1 .imagenes{
    margin: 10px;
    text-align: center;
}
.item1 img{
    max-width: 100%;
    height: auto;
}
.item1{
   flex: auto;
    
}
h3{
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
}
.pelis{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    flex-direction: row;
    padding-top: 10px;
}
.series {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cajapelis{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cajaseries{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imagenes{
    flex: 0 0 auto;
    margin-bottom: 10px;
}
.imagenpeli{
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.imagenserie{
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info-peli{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    flex: 0 0 auto;
    margin-bottom: 10px;
}
.info-serie{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    flex: 0 0 auto;
    margin-bottom: 10px;
}
}
